@using TaskManager.DTO
@model IEnumerable<TaskItemDto>

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Менеджер задач</title>
    <link href="~/css/tasksGrid.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <div id="gridContent">
        <div class="grid-container">
            @foreach (var task in Model)
            {
                <div class="task" id="task-@task.Id">
                    <div class="icon">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="text-content">
                        <h3 class="title">@task.TaskTitle</h3>
                        <div class="task-text" style="display: none">
                            <textarea class="text">"@task.TaskDescription"</textarea>
                        </div>
                    </div>
                    <div class="task-status">
                        <label class="switch">
                            <input type="checkbox"
                                   data-task-id="@task.Id"
                                   class="status-toggle"
                            @(task.IsClosed ? "checked" : "") />
                            <span class="slider round"></span>
                        </label>
                        <span>@(task.IsClosed ? "Завершена" : "Активна")</span>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="gridTaskModal" class="modal-wrapper" style="display: none">
        <div class="modal-container">
            <div class="service modal-service">
                <div class="icon"><i class="fas fa-check-circle"></i></div>
                <div class="text-content">
                    <h3 class="title">Карточка задачи</h3>
                    <div class="modal-inputs">
                        <label class="input-label" for="taskTitle">Описание задачи</label>
                        <input type="text" id="gridTaskTitle" class="modal-input"/>
                        <label class="input-label" for="taskInput">Текст задачи</label>
                        <textarea id="gridTaskInput" class="modal-textarea"></textarea>
                    </div>
                    <div class="modal-actions">
                        <button id="cardCancelBtn" class="btn-cancel">
                            <i class="fas fa-times"></i>
                        </button>
                        <button id="cardDeleteBtn" class="btn-delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button id="cardSubmitBtn" class="btn-submit">
                            <i class="fas fa-check"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/grid.js" asp-append-version="true"></script>
</body>
</html>